@use 'variables' as *;
nav{
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: $color3;
    color: #fff;
    font-size: 2.2rem;
}
.logo{
    flex-basis: 50%;
    padding-left: 30px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 50%;
    padding-right: 30px;
    span{
        font-size: 3rem;
    }
}